.logo{
    width: 70px;
}
.navbar-color{
    background-color: #175e49 !important;
    color: aliceblue;
}
a {
    color: aliceblue!important;
}

.carrusel{
    height:70vh!important;
    width: 100%!important;
}

.url{
    color: black!important;
    
    &:hover{
        color: rgb(27, 233, 233)!important;
    } 
}

footer{
    color: white;
    background: rgb(0, 0, 0)!important;
}